.App {
  text-align: center;
}

.navbar{
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 4rem;
    border-bottom: 1px solid rgb(196, 196, 196);
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    position: relative;
    top: 0;
    font-size: 30px;
    font-weight: bold;
}

#contact{
  background-color: green;
}